@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    height: 100vh;
}
#toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    height: 15vh;
}

#toolbar div {
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    column-gap: 10px;
}

#toolbar div:hover {
    background-color: aquamarine;
}